<input type="text" class="form-control" placeholder="Search"
ng-model="search" autofocus>
<hr />
<div class="list-group">
  <a ng-repeat="meal in allMeals | filter: search | orderBy: 'name'"
  class="list-group-item clickable" ng-click="editMeal(meal)">
    {{ meal.name }}
    <i class="glyphicon glyphicon-trash pull-right text-danger"
      confirm="deleteMeal(meal)"
			message="Are you sure you want to delete this meal?"
			yes="Delete" no="Cancel" placement="left"></i>
  </a>
  <a class="list-group-item list-group-item-info clickable" ng-click="editMeal()">
    New Meal
  </a>
</div>
