<div class="modal-header">
<h3>Add Ingredients</h3>
</div>
<div class="modal-body">
  <span ng-repeat="ingredient in ingredients | orderBy: 'text'"
  class="list-group-item clickable">
    {{ ingredient.text }}
    <i class="glyphicon glyphicon-trash pull-right text-danger"
      ng-click="deleteIngredient(ingredient)"></i>
  </span>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="addItems()">Add to Shopping List</button>
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
