<div class="modal-header">
<h3>Edit Plan</h3>
</div>
<div class="modal-body">
  <span class="dropdown" dropdown on-toggle="toggled(open)">
    <a href class="dropdown-toggle" dropdown-toggle>
      {{ meal || 'Click me to select a meal, yo!' }}
    </a>
    <ul class="dropdown-menu">
      <li ng-repeat="choice in allMeals">
        <a ng-click="setMeal(choice)">Meal {{choice}}</a>
      </li>
    </ul>
  </span>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
