<div class="modal-header">
<h3>Edit Plan</h3>
</div>
<div class="modal-body">
  <div class="btn-group btn-group-justified" ng-init="selectedMeatType = {}">
    <div class="btn-group" ng-repeat="meatType in meatTypes track by meatType.id">
      <button ng-click="filterMeatType(meatType.id)"
      ng-class="{'active': selectedMeatType.meatId === meatType.id.toString()}"
      type="button" class="btn btn-default">{{ meatType.name }}</button>
    </div>
  </div>
  <hr />
  <select
  ng-options="choice as choice.name for choice in ::allMeals | filter:selectedMeatType"
  class="form-control" ng-model="meal"
  ng-change="setMeal()" ng-required="true">
     <option value="">Select a meal</option>
  </select>
</div>
<div class="modal-footer">
	<button class="btn btn-danger pull-left" ng-click="deletePlan()"
    ng-if="mealId != null">Clear this day</button>
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
