<div class="modal-header">
<h3>{{ meal.$id ? 'Edit ' + meal.name : 'New Meal' }}</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="name" class="col-sm-3 control-label">Meal Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" ng-model="meal.name"
        id="inputEmail3" placeholder="eg. Pasta">
      </div>
    </div>
    <div class="form-group">
      <label for="type" class="col-sm-3 control-label">Meat Type</label>
      <div class="col-sm-9">
        <select ng-model="meal.meatId" class="form-control">
          <option ng-repeat="meatType in meatTypes"
            value="{{ meatType.id }}"
            ng-selected="meal.meatId == meatType.id">
            {{ meatType.name }}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="frequency" class="col-sm-3 control-label">Frequency</label>
      <div class="col-sm-9">
        <select ng-model="meal.frequency" class="form-control">
          <option ng-repeat="frequency in frequencies | orderBy : numOfWks"
            value="{{ frequency.numOfWks }}"
            ng-selected="meal.frequency == frequency.numOfWks">
            {{ frequency.description }}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="meal" class="col-sm-3 control-label">Seasonal?</label>
      <div class="col-sm-9">
        <input type="checkbox" class="form-control" ng-model="meal.seasonal">
      </div>
    </div>
    <div class="form-group" ng-show="meal.seasonal">
      <label for="meal" class="col-sm-3 control-label">Start Date</label>
      <div class="col-sm-9">
        <select ng-model="meal.startDate" class="form-control">
          <option ng-repeat="month in months track by $index"
            value="{{ $index + 1 }}"
            ng-selected="meal.startDate == $index+1">
            {{ month }}</option>
        </select>
      </div>
    </div>
    <div class="form-group" ng-show="meal.seasonal">
      <label for="meal" class="col-sm-3 control-label">End Date</label>
      <div class="col-sm-9">
        <select ng-model="meal.endDate" class="form-control">
          <option ng-repeat="month in months track by $index"
            value="{{ $index + 1 }}"
            ng-selected="meal.endDate == $index+1">
            {{ month }}</option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="saveMeal()">Save</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
